.Header {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 5px 0;
  justify-content: space-between;
}

.HeaderLeft {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.HeaderLogo {
  width: 52px;
  height: 52px;
}

.HeaderTitle {
  font-size: 2rem;
}

.HeaderRight {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.Header a {
  color: #61aafb;
  text-decoration: none;
}
