* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0 15px;
}

nav .active {
  text-decoration: underline;
}

.badge {
  padding: 4px;
  display: flex;
  align-items: center;
}
